.grid {
  padding: 20px;
}

.customHeading {
  font-size: 36px;
}

.customSelect {
  margin-left: 20px;
  font-size: 18px;
  height: 30px;
  border: 2px solid #003;
}
.customHeading2 {
  font-size: 28px;
}
.customInput {
  height: 40px;
  width: 100%;
  font-size: larger;
  border: 2px solid #003;
}

.customInput2 {
  margin-top: 20px;
  font-size: 18px;
}

.customInput3 {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  border: 2px solid #003;
}
.editor {
  min-height: 850px;
  font-size: 18px;
  border: 2px solid #003;
}
